@import '../variables/themeColors';

.application_dark_mode_theme{
    background-color: var(--application-dark-mode);
    color: var(--light-);
}
.application_light_mode_theme{
    background-color: var(--application-light-mode);
    color: var(--dark-);
}