@import '../variables/_themeColors.scss';
.primary_background{
    background: rgb(39,27,236);
    background: linear-gradient(142deg, rgba(39,27,236,1) 0%, rgba(159,159,245,1) 84%);
    color: var(--light-);
}
.secondary_background{
    background-color: var(--secondary-);
    color: var(--light-);
}
.success_background{
    background-color: var(--success-);
    color: var(--light-);
}
.danger_background{
    background-color: var(--danger-);
    color: var(--light-);
}
.warning_background{
    background: rgb(232,255,0);
    background: linear-gradient(77deg, rgba(232,255,0,1) 0%, rgba(58,60,42,1) 100%);
    color: var(--dark-);
}
.info_background{
    background-color: var(--info-);
    color: var(--light-);
}
.light_background{
    background-color: var(--light-);
    color: var(--dark-);
}
.dark_background{
    background-color: var(--dark-);
    color: var(--light-);
}